@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/index.css" type="text/css" />

<body>
    <div class="text-center">
        <h1 class="display-4" style="color:white">Welcome to GymPlanner</h1>
        <p style="color:white">Here you can save and browse your gym trainings history</p>
    </div>
</body>

