@model List<(string, double)>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your personal best scores</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name of exercise
            </th>
            <th>
                Weight
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item2)
            </td>
        </tr>
}
    </tbody>
</table>
